/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

.p4c-player {
	overflow: hidden;
}

.p4c-player .image {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #6C7A89;
	position: relative;
}

.p4c-player .image img,
.p4c-player .spinner img {
	max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.p4c-player .p4c-location {
	position: absolute !important;
	right: 19px;
	bottom: 19px;
	width: 20%;
	height: 20%;
	border-radius: 7px;
	border: 2px solid #22313f;
}

.p4c-player .p4c-location.enlarge {
	width: 40%;
	height: 40%;
}

.p4c-player .p4c-location .expand-button {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
}

.p4c-player .p4c-location .expand-button img {
	height: 28px;
	cursor: pointer;
}

.p4c-player .p4c-location .expand-button img.hide {
	display: none;
}

.p4c-player .p4c-control {
	position: absolute;
	bottom: 20px;
	margin-left: -150px;
	margin-right: -150px;
	left: 50%;
	right: 50%;
	height: 48px;
	width: 300px;
}

.p4c-player .p4c-control button {
	height: 40px;
}

.p4c-player .p4c-description {
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 20%;
	height: 20%;
}

.p4c-player .p4c-whatsnext {
	position: absolute;
	left: 25%;
	right: 25%;
	top: 25%;
	bottom: 25%;
	width: 50%;
	height: 50%;
}
