/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

#player {
	position: absolute;
	top: 51px;
	right: 0;
	left: 0;
	bottom : 0;
}

#player-messages {
	margin: 10px;
	padding: 5px;
	z-index: 100;
	position: fixed;
	right: 0;
}

#player-backlink {
	margin: 10px;
	padding: 5px;
	z-index: 100;
	position: fixed;
}
